<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node Report Emailer</title>
  <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
  <div class="container">
    <h1>Node Emailer</h1>
    <p>Send a post to /send with the data:</p>
    <h3>Contact Details</h3>
    <ul>
      <li>NameFrom: ${req.body.nameFrom}</li>
      <li>EmailFrom: ${req.body.emailFrom}</li>
      <li>NameTo: ${req.body.nameTo}</li>
      <li>EmailTo: ${req.body.emailTo}</li>
      <li>Message: ${req.body.message}</li>
    </ul>
  </div>
</body>

</html>